.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 26px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"],button[type="button"] {
    width: 100%;
    padding: 10px;
    font-size: 26px;
    margin-bottom: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:disabled {
    width: 100%;
    padding: 10px;
    font-size: 26px;
    margin-bottom: 10px;
    background-color: rgb(144, 144, 147);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
  }
  
  .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  
  .details-container p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .details-container a {
    color: blue;
    text-decoration: none;
  }
  